.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/app
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/hot
public/storage
bootstrap/cache
tests
context
*.md
phpunit.xml
.phpunit.cache
.editorconfig
.prettierrc*
.eslintrc*
eslint.config*
docker-compose*
